.ii {
    max-width: 50px;
    max-height: 50px;
    border-radius: 16px;
}

body {
    background-color: rgb(189, 189, 189);

}

.gi {
    display: grid;
    grid-template-areas: "menu content";
    gap: 5px;
    background-color: #5e5fbe;
    padding: 5px;
}

.gi>div {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}